*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;

    overflow-x: hidden;
   
}
.heading{
text-align: center;
height: 10vh;
padding-top: 1vw;
background-color:#e3f2fd;
font-size: 2.5vw;

}
.navbar-brand{
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.navbar-collapse{
    text-align: center;
    /* border: 2px solid black; */
    margin-left: 30vw;

    /* margin-right: 18vw; */
    
    
}
.navbar-nav a{
    /* margin-left: 1.2vw; */

    font-size: 1.3vw;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;

}
/* 
.navbar-nav{
    width: 100%;
    margin-left: 20vw;
} */


/* .fa-graduation-cap{
    margin-left: 0.5vw;
}
.fa-house{
    margin-left: 0.5vw;
}
.fa-book{
    margin-left: 0.5vw;
}
.fa-microphone{
    margin-left: 4vw;
}
.fa-clipboard-user{
    margin-left: 2.7vw;
}
.fa-user-graduate{
    margin-left: 1.5vw;
}
.fa-message{
    margin-left: 2.1vw;
}*/
.User{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.User a{
  
    color: #000;
    text-decoration: none;
    margin-top: 3vw;
    
    /* width: 8vw; */
    width: 8vw;
    text-align: center;
    border-radius: 1.5vw;
    height: 4vw;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    

   
  }
  .User a:hover{
    color:  #a8cde6;
  }

.User h1{
    text-align: center;
    padding-top: 3.5vw;
    font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
} 
.container-fluid{
    text-align: center;
    /* height: 20vw; */
}
/* .navbar{
    height: 12vh;
}



.navbar-nav a i{
    text-align: center;
}
 */
 /* ///////////////////////// Recent Activity //////////////////// */


 .Recent_activity{
    
    margin-right: 15vw;
    margin-left: 15vw;
    margin-top: 5vw;
 }

 .Recent_activity .card a{
    text-decoration: none;
    color: #000;
    
}
.Recent_activity .card a:hover{
    color: #000;
    background-color: #eef4f8;
}
.card-body{
    font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.card-body{
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* ////////////////////////////////// Student_classes.html /////////////////////////////////*/

.classes h1{
    text-align: center;
    padding-top: 3.5vw;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.classes_1 h2{
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.classes_1{
    /* border: 2px solid black; */
    padding-top: 3.5vw;
    width: 35vw;
    position: relative;
    left: 33%;
}

.classes_1 .card a{
text-decoration: none;
color: #000;
font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.classes_1 .card li:hover{
    background-color:#eef4f8;
}
.classes_2{
    margin-right: 15vw;
    margin-left: 15vw;
    margin-top: 5vw;
   
}
.classes_2 .card a{
    color: #000;
    text-decoration: none;
}
.classes_2 .card .card-body a{
    background-color: yellow;
}
.classes_2 h2{
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}
/* ///////////////////////////////////// assignment section //////////////////////////// */
 
.assignment{
    margin-top: 5vw;
}

.assignment h1{
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.assignment .container{
    /* border: 2px solid black; */
    margin-top: 5vw;

}

.ass_1{
    display: flex;
    gap: 5vw;
}
.ass_1 .ass_card_1{
    height:fit-content;
    
}
.ass_1 .ass_card_1 li a{
    text-decoration: none;
    color: #000;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.ass_1 .ass_card_1 li:hover{
    background-color: #eef4f8;
}
.ass_1 .ass_card_1 li a:hover{
    text-decoration: underline;
}

.ass_1 .ass_card_2 .btn{
    background-color: #c3e2f9;
    border: 1px solid black;
}
.ass_1 .ass_card_2 .btn:hover{
    background-color: #deeef8;
}

.ass_2 .ass_3 a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
}
.ass_5:hover{
    text-decoration:underline;
    
}
.sai:hover{
    background-color: #eef4f8;

}

.ass_5{
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

/* //////////////////////////////////// Student announcement ////////////////////////// */


.announcement{
    margin-top:5vw ;
}
.announcement h2{
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.announce_1 span{
    color: red;

}
/* .container{
    border: 1px solid black;
    text-align: center;
    margin-left: 10vw;
    
} */
 .announce_1{
    margin-left:15vw ;
    margin-right: 15vw;
    margin-top: 5vw;
 }
.announce_1_1{
    background-color: rgb(249, 211, 211);
    border: 1px solid black;
    
    text-align: center;
    
}
.announce_1_1 .btn{
    color: red;
    background-color: rgb(245, 185, 185) ;
    border: 1px solid red;
}
.announce_1_1 .btn:hover{
    color: red;
    background-color: rgb(249, 203, 203) ;
    border: 1px solid red;
}

.announce_1 span{
    color: red;

}
/* .container{
    border: 1px solid black;
    text-align: center;
    margin-left: 10vw;
    
} */
 .announce_2{
    margin-left:15vw ;
    margin-right: 15vw;
    margin-top: 5vw;
 }
.announce_2_1{
    border: 1px solid black;
    
    text-align: center;
    
}
.announce_2_1 .btn{
    border: 1px solid black;
    color: #000;
}
.announce_2_1 .btn:hover{
    
    background-color: #dbedf9 ;
    border: 1px solid rgb(3, 3, 3);
}


/* .container{
    border: 1px solid black;
    text-align: center;
    margin-left: 10vw;
    
} */
.announce_3{
    margin-left:15vw ;
    margin-right: 15vw;
    margin-top: 5vw;
 }
.announce_3_1{
    border: 1px solid black;
    
    text-align: center;
    
}
.announce_3_1 .btn{
    border: 1px solid black;
    color: #000;
}
.announce_3_1 .btn:hover{
    
    background-color: #dbedf9 ;
    border: 1px solid rgb(3, 3, 3);
}

/* /////////////////////////////////// attendance page /////////////////////////////// */


.attendance{
    margin-top: 5vw; ;
}
.attendance h1{
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.attendance_1{
    margin-top: 5vw;
}
.attendance_2{
    text-align: center;
    margin-top: 5vw;
}
.attendance_2_1{
    margin-top: 5vw;
    border: 1px solid black;
}

/* ////////////////////////////////   footer  //////////////////////////////////// */


footer{
    margin-top: 2vw;
}