<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Role</title>
    <link rel="stylesheet" href="../static/select_role.css">
</head>
<body>
    <div class="container">
        <h1>Select Your Role</h1>
        <div class="role-selection">
            <a href="./register_student" class="btn student">I am a Student</a>
            <a href="./register_teacher" class="btn teacher">I am a Teacher</a>
        </div>
    </div>
</body>
</html>
