{%extends "base.html"%}

{% block title%} student_classes {%endblock%}

{%block content%}

<section class="announcement">

    <h2>Announcements</h2>
    
    <div class="card announce_1 ">
        <div class="card-body announce_1_1">
          <h3>Important Announcement <span>(Urgent)</span></h3>
          <p>Date: 2024-07-08</p>
          <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Read More
          </button>
        </div>
        
      
    </div>

      

  <div class="card announce_2 ">
    <div class="card-body announce_2_1">
      <h3> Announcement Title 1 </h3>
      <p>Date: 2024-08-08</p>
      <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Read More
      </button>
    </div>
    
  
</div>




<div class="card announce_3 ">
    <div class="card-body announce_3_1">
      <h3>Announcement Title 1</h3>
      <p>Date: 2024-09-08</p>
      <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Read More
      </button>
    </div>
    
  
</div>

 

</section>

{% endblock%}