

{%extends "base.html"%}

{% block title%} student Dashboard {%endblock%}

{%block content%}

<section class="User">
  <h1>Welcome ,{{session['username']}}</h1>
  <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>
  <p>Logout</p>
  </a>
</section>

<section class="Recent_activity">
  <h2>Recent Activity</h2>
  <div class="card">
    <a href="/student_announcement">
    <div class="card-body">
      <h4>New Announcements</h4>
      <p>Exam start from 1st August</p>
    </div>
  </a>
  </div>

  <div class="card">
    <a href="/student_assignment">
    <div class="card-body">
      <h4>Upcomng Assignments</h4>
      <p>Math Assignment due on 22nd July.</p>
    </div>
  </a>
  </div>

  <div class="card">
    <a href="/student_assignment">
    <div class="card-body">
      <h4>Recent Grades</h4>
      <p>Science Project: Grade A.</p>
    </div>
  </a>
  </div>

  <div class="card">
    <a href="/student_classes">
    <div class="card-body">
      <h4>class Schedule</h4>
      <p>Chemistry class moved to 11:00 AM.</p>
    </div>
  </a>
  </div>


</section>
{% endblock%}