{%extends "base_teacher.html"%}

{% block title%} student Dashboard {%endblock%}

{%block content%}

<section class="teach_announcement">
    <h1>Manage Announcement</h1>
    <div class="card announce_1 ">
        <div class="card-body announce_1_1">
          <h3>Important Announcement <span>(Urgent)</span></h3>
          <p>Date: 2024-07-08</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editAnnouncement2">
            Edit
        </button>
        <button type="button" class="btn btn-danger">
            Delete
        </button>
        </div>
        
      
    </div>

      <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>


  <div class="card announce_2 ">
    <div class="card-body announce_2_1">
      <h3> Announcement Title 1 </h3>
      <p>Date: 2024-08-08</p>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editAnnouncement2">
        Edit
    </button>
    <button type="button" class="btn btn-danger">
        Delete
    </button>
    </div>
    
  
</div>


    {% endblock%}